:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--background-color);
  color: white;
  font-family: InterVariable, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  padding: 48px 64px;
  padding-block-end: 128px;

  --background-color: #161e27;
  --background-color-secondary: #1e2936;
  --link-color: #208bfe;
  --border-color: #2e4052;
  --code-background-color: #0070ff;
}

#app {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:has(> div) {
  text-decoration: none;
  color: unset;
}

code a {
  color: unset;
}

code {
  background: var(--code-background-color);
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

h2 > code {
  font-size: 22px;
  border-radius: 8px;
  padding: 3px 6px;
}

.bsky-logo-container {
  display: flex;
  justify-content: center;
}

.feed-info-container {
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 32px;
  margin-block-start: 32px;
  display: flex;
  overflow-x: auto;
}

.feed-avatar {
  width: 119px;
  height: 119px;
  margin-inline-end: 24px;
  flex-shrink: 0;
}

.feed-description > h1 {
  white-space: nowrap;
}

.feed-description > *:first-child {
  margin-block-start: 0;
}

.feed-description > *:last-child {
  margin-block-end: 0;
}

.algo-firehose {
  width: 96px;
  height: 96px;
  background: var(--code-background-color);
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  transform: rotateY(180deg) translateY(4px);
}

.algo-feed {
  width: 96px;
  height: 96px;
  display: block;
  margin-inline-start: auto;
}

.algo-viz-container {
  width: 100%;
}

.algo-linefeed {
  height: 112px;
  width: calc(100% - 96px);
  margin-inline: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}

.algo-linefeed:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  border-inline-start: 2px solid var(--border-color);
  border-block-end: 2px solid var(--border-color);
  border-end-start-radius: 48px;
  top: 0;
  left: 0;
  z-index: -1;
}

.algo-linefeed:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  border-inline-end: 2px solid var(--border-color);
  border-block-start: 2px solid var(--border-color);
  border-start-end-radius: 48px;
  top: 100%;
  right: 0;
  z-index: -1;
}

.user-card-list {
  display: flex;
  position: relative;
}

.user-card-list > .user-card:not(:last-child) {
  position: absolute;
  z-index: -1;
}

.user-card {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  width: 200px;
  background: var(--background-color);
  display: flex;
  align-items: center;
  padding: 16px;
}

.user-card > .user-card-icon {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  flex-shrink: 0;
  margin-inline-end: 8px;
}

.user-card-skeleton > .user-card-icon {
  background: var(--background-color-secondary);
}

.user-card > .user-card-info {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(90deg, black, black 80%, transparent);
}

.user-card > .user-card-info > span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.user-card > .user-card-info > span:not(:last-child) {
  margin-block-end: 6px;
}

.user-card-skeleton > .user-card-info > span {
  background: var(--background-color-secondary);
  border-radius: 4px;
  padding: 2px 4px;
  display: block;
  height: 12px;
}

.user-card-skeleton > .user-card-info > span:first-child {
  width: 50%;
}

.github-button {
  background: var(--code-background-color);
  border-radius: 8px;
  display: flex;
  margin: 48px auto 0;
  width: fit-content;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-family: monospace;
  align-items: center;
}

.github-button > span {
	margin-inline: 24px;
}
